.AppBar{
    background-color: #0F1111;
    color: #0F1111;
}

.logo{
  background-image: url('../images/amazon_logo.png');
  background-size: cover;
  height: 50px;
  width: 100px;
}

.navbar-logo {
    /* color: aliceblue; */
    text-decoration: none;
  }
  .navbar{
margin-bottom: 0;
}


  .my-cart{

    display: flex;  
    font-size: 0.85rem;
    font-weight: 7000;

}

.my-cart p{
    align-self: flex-end;
    margin-bottom: auto;
}
  .search-items {
    display: flex;
  }
  
  .search-items input {
    flex: 1; 
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: max-content;
  }
  
  .search-items button {
    height: auto; /* Match the height of the input field */
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    min-width: 45px;
  }
  
.search-items{
  display: flex;
  width: 55vw;
}

  .search-item-input{
    
    
  }
 
.navbar-items{
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  align-items: center;
  margin-right: 1rem;
  
}
.navbar-items a{
  text-decoration: none;
  margin-left: 1rem;
}
.search-reconendation{
  position: absolute;
  top: 100%; /* Position below the search input */
  /* left: 0; */
  width: 100%; /* Take the full width of the parent container */
  max-height: 650px;
  background-color: #ffff; /* White background */
  color: #0f1111;
  width: 55vw;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: fit-content;

}
.search-reconendation a{
  padding: 10px;
  color: #0F1111;
  text-decoration: none;
}
.search-reconendation a:hover{
  background-color: #ddd;
}


/* Navbar.css */
