.AppBar{
    background-color: #0F1111;
    color: #0F1111;
}


.toolbar{
    background-color: #0F1111;
    display: flex;
    justify-content: space-evenly;
}

.navbar-logo {
    color: aliceblue;
    text-decoration: none;
  }
  
  .search {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(201, 224, 224);
    width: 45%;
    height: 40px;
    border-radius: 4px;
  }
  
  .search input {
    width: 80%;
    height: 20px;
    font-size: 1rem;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0F1111;
  }
  
  .border {
    border: 2px solid transparent;
  }
  
  .border:hover {
    border: 1.4px solid white;
  }
  
  .nav-cart {
    display: flex;
    font-size: 0.85rem;
    font-weight: 700;
  }
  
  .nav-cart-i {
    font-size: 30px;
  }
  
  .nav-cart p {
    align-self: flex-end;
  }
  
  .nav-return {
    font-size: 0.75rem;
    color: #ffff;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  
  .nav-sec {
    font-size: 0.85rem;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  
  .link-nav {
    text-decoration: none;
    color: #ffff;
  }
  