.AppBar{
    background-color: #0F1111;
    color: #0F1111;
}


.toolbar{
    background-color: #0F1111;
    display: flex;
    justify-content: space-evenly;
}

.navbar-logo {
    /* color: aliceblue; */
    text-decoration: none;
  }
  .search-items {
    display: flex;
  }
  
  .search-items input {
    flex: 1; /* Take up remaining space */
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: auto;
  }
  
  .search-items button {
    height: auto; /* Match the height of the input field */
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    min-width: 45px;
  }
  
.search-items{
  display: flex;
}

  .search-item-input{
    width: 55vw;
    
  }
 
.navbar-items{
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  align-items: center;
  margin-right: 1rem;
  
}
.navbar-items a{
  text-decoration: none;
  margin-left: 1rem;
}

@media (max-width: 400px) {
  .hide-on-small-screen {
    display: none; /* Hide the element on small screens */
  }
}